[Unit]
Description=Dual Terminal LCD
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/terminal
ExecStart=/usr/bin/python3 /home/pi/terminal/terminal.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
